* {
    box-sizing: border-box;
    color: hsla(187, 52%, 18%, 1);
}

::-webkit-input-placeholder {
    color: hsla(187, 52%, 18%, 0.8);
}

::-moz-placeholder {
    color: hsla(187, 52%, 18%, 0.8);
}

:-ms-input-placeholder {
    color: hsla(187, 52%, 18%, 0.8);
}

:-moz-placeholder {
    color: hsla(187, 52%, 18%, 0.8);
}

input,
button,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: powderblue;
}

body>div {
    display: none;
    height: 100%;
}

.spinner {
    display: flex;
    align-items: center;
}

.spinner svg {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
    font-size: 6rem;
    /*height: 7rem;*/
    animation: girar 1.4s cubic-bezier(0.51, 0.01, 0, 1) infinite;
    -webkit-animation: girar 1.4s cubic-bezier(0.51, 0.01, 0, 1) infinite;
}

.girar {
    animation: girar 1.4s cubic-bezier(0.51, 0.01, 0, 1) infinite;
    -webkit-animation: girar 1.4s cubic-bezier(0.51, 0.01, 0, 1) infinite;
}

.embrulho {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px
}

#splash .embrulho,
#erro-conexao .embrulho {
    text-align: center;
    justify-content: center;
}

.title {
    max-width: max-content;
    margin: 0 auto 18px;
    border-bottom: 1px solid hsla(187, 40%, 68%, 1);
    padding-bottom: 22px;
    padding: 0px 25px 20px;
}

.title span {
    font-size: 1.5rem;
}

.title h1 {
    font-size: 3.5rem;
}

.dialogo {
    max-width: 600px;
    background-color: hsla(187, 52%, 90%, 1);
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
    align-self: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.38);
}

.dialogo .title {
    margin: 0 auto;
    padding: 0;
    border: none;
    font-weight: 400;
    font-size: 2rem;
    color: hsla(187, 25%, 30%, 1);
    text-shadow: 0px 1px 0 hsla(187, 53%, 96%, 1);
}

.dialogo p {
    font-size: 1.1rem;
    color: hsla(187, 52%, 18%, 1);
}

.dialogo p.fim {
    margin-bottom: 0;
    font-size: 0.9rem;
    color: #427278;
    font-weight: 400;
}

#usuario {
    border: 1px solid hsla(187, 52%, 71%, 1);
    background-color: #ffffff9c;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-top: 10px;
    transition: all ease .2s;
    outline: none;
    font-weight: 400;
    padding: 4px 8px;
    text-align: center;
}

#usuario:focus {
    border: 1px solid hsla(187, 52%, 40%, 1);
    background-color: white;
}

#enviausuario {
    margin: auto;
    display: block;
    margin-top: 12px;
    font-size: 1.2rem;
    background-color: hsla(187, 52%, 40%, 1);
    border: none;
    color: hsla(187, 52%, 94%, 1);
    border-radius: 3px;
    padding: 5px 10px;
}

h1 {
    margin: 5px auto;
    font-weight: 300;
    color: hsla(187, 52%, 18%, 1);
}

#historico {
    border: 1px solid hsla(188, 35%, 40%, 0.45);
    width: 100%;
    flex-grow: 1;
    flex-shrink: 9999999999;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 5px;
    padding: 18px;
    padding-top: 0;
    box-sizing: border-box;
    overflow: auto;
}

#historico>div:first-child {
    margin-top: 18px;
}

.info {
    display: table;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 12px;
    border-radius: 50px;
    background: hsla(186, 68%, 79%, 1);
    padding: 6px 18px;
    font-size: 0.9rem;
    color: hsl(186, 39%, 32%);
    text-shadow: 0px 1px 0px #ffffff40;
}

.div-mensagem {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    background-color: white;
    border: 1px solid hsla(188, 41%, 40%, 0.45);
}

#msg {
    flex-grow: 1;
    margin: 5px;
    line-height: 1.7rem;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    min-width: 0;
    outline: none;
    background: white;
    resize: none !important;
    overflow-y: hidden !important;
}

#enviar {
    border: none;
    background-color: steelblue;
    color: #fff;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.mensagem-wrapper-ext::after {
    content: '';
    clear: both;
    display: table;
}

.mensagem-wrapper {
    background: hsla(187, 52%, 88%, 1);
    border-radius: 5px;
    display: table;
    padding: 11px;
    margin-bottom: 12px;
    padding-top: 4px;
    padding-bottom: 8px;
}

.propria {
    float: right;
    background: hsla(187, 55%, 66%, 1);
    border-bottom-right-radius: 0;
}

.mensagem-wrapper-ext {
    position: relative;
}

.mensagem-wrapper.propria::after {
    content: '';
    width: 0px;
    height: 0px;
    border: 5px solid;
    border-color: transparent transparent #79cdd8 #79cdd8;
    position: absolute;
    right: -10px;
    bottom: 12px;
}

.autor {
    font-size: 0.9rem;
    font-weight: 500;
    color: hsla(187, 72%, 27%, 1);
    user-select: none;
}

.mensagem {
    color: hsla(187, 52%, 15%, 1);
}

/* Suporte a Markdown */

.mensagem p {
    margin: 0
}

.mensagem h2,
.mensagem h3,
.mensagem h4,
.mensagem h5,
.mensagem h6 {
    margin: 3px 0px;
    font-weight: 300;
}

.mensagem>br {
    display: none;
}

.mensagem code {
    background-color: hsla(187, 55%, 49%, 1);
    padding: 1px 3px;
    border-radius: 3px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.7rem;
    }
    .title span {
        font-size: 1.2rem;
    }
    .title h1 {
        font-size: 2.3rem;
    }
    .embrulho {
        padding: 0px;
    }
    .info {
        margin: 18px auto;
    }
    .mensagem {
        font-size: 1.1rem;
    }
    #msg {
        margin: 7px 8px;
        font-size: 1rem;
        align-self: center;
        padding: 0;
    }
    #enviar {
        font-size: 1.2rem;
        padding: 12px 10px;
    }
}

@-webkit-keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}